@import "src/variables.scss";

.post-container {
  background: white;
  .header-row {
    .back-button-container {
      cursor: pointer;
      border: 2px solid $hn-nav-dark;
      color: $hn-nav-dark;

      &:hover {
        background: $hn-nav-dark;
        color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
      }
    }
  }

  .metadata {
    display: inline-block;
    margin-right: 40px;
    color: $hn-light-text;
    font-size: 0.9em;
    .ng-fa-icon {
      margin-right: 5px;
      color: $hn-primary;
    }
  }
}
