<div class="m-2"
     [class.pre-loader]="isLoading">
  <div class="post-container shadow rounded mb-3 p-3">
    <div class="row m-0 mb-3 w-100 header-row">
      <div class="col-sm-3 col-md-1 back-button-container center-vertical"
           *ngIf="post?.category != ''"
           (click)="back()">
        <fa-icon [icon]="faChevronLeft"></fa-icon>
      </div>
      <div class="col-sm-9 col-md-11">
        <h2>{{ post?.title }}</h2>
      </div>
    </div>
    <div class="w-100 mb-4">
      <div class="user-meta-container text-center mb-3">
        <span class="user metadata">
          <fa-icon [icon]="faUser"></fa-icon>{{ post?.by }}
        </span>
        <span class="time metadata">
          <fa-icon [icon]="faClock"></fa-icon>
          <span timeago
                [date]="post.time * 1000"
                *ngIf="post?.time"></span>
        </span>
        <span class="likes metadata">
          <fa-icon [icon]="faThumbsUp"></fa-icon>{{ post?.score }} likes
        </span>
        <span class="comments metadata">
          <fa-icon [icon]="faMessage"></fa-icon>
          {{ post?.kids?.length || post?.descendants }} comments
        </span>
      </div>
      <div [innerHTML]="post?.text"></div>
    </div>
  </div>
  <div class="comments-container"
       [class.pre-loader]="isLoading">
    <div class="row mb-3">
      <div class="col">
        <h4>{{ comments.length }} Comments</h4>
      </div>
      <div class="col">
        <hn-sort class="w-100"
                 [sortChoices]="sortChoices"
                 (chosenSort)="sortPosts($event)"
                 sortType="comments"></hn-sort>
      </div>
    </div>
    <hn-comment *ngFor="let comment of comments"
                [comment]="comment"></hn-comment>
  </div>
</div>
