<div class="row mt-4"
     *ngIf="hasPosts()">
  <div class="col text-center previous-page">
    <fa-icon [icon]="faChevronLeft"
             data-testId="prev-page"
             (click)="previousPage()"
             *ngIf="currentPage > 1"></fa-icon>
  </div>
  <div class="col text-center">
    <div class="post-count-info">
      <strong>Page {{ currentPage }}</strong><br>
      <strong>{{ (currentPage * 10) - 9 }}</strong> to <strong>{{ getPageMaxCount() }}</strong> of <strong>{{ totalPostCount }}</strong>
    </div>
  </div>
  <div class="col text-center next-page">
    <fa-icon [icon]="faChevronRight"
             data-testId="next-page"
             (click)="nextPage()"></fa-icon>
  </div>
</div>
