.post {
  background: white;
  border-bottom: 1px solid #ececec;
  .post-image {
    background-size: contain;
    background-repeat: no-repeat;
  }
  .content-container {
    .title {
      margin-bottom: 0px;
    }
    .url-container {
      margin-bottom: 23px;
    }
    .user {
      width: 130px;
      overflow: hidden;
    }
    .likes {
      width: 100px !important;
    }
    .date {
      width: 150px !important;
    }
    .url {
      width: 100% !important;
      color: #226efd;
    }
    .metadata {
      display: inline-block;
      margin-right: 40px;
      color: #adb5bd;
      font-size: 0.9em;
    }
    .truncate {
      width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .comment-count {
    .count {
      font-size: 0.8em;
      color: #adb5bd;
      padding-top: 29px;
      background: #f8f8f8;
      height: 100%;
    }
  }
}
