@import "~bootstrap/dist/css/bootstrap.css";
@import "./loading.scss";
@import "~ngx-toastr/toastr";
.center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ask-page,
.jobs-page,
.new-page,
.show-page,
.top-page {
  min-height: 1600px !important;
}
